body{
    background-image: url("images/board.jpg");
    background-size:cover;
    text-align:center;
    font-family: 'Happy Monkey', cursive;

}
#title-container{
    color:black;
}
#input-container{
    display:flex;
    justify-content:center;

}
#input-el{
    border: 5px solid #f7dc6f;
    width:400px;
    padding:10px;
    border-radius:10px;
    font-family: 'Happy Monkey', cursive;
}
#submit-btn{
    border-radius:10px;
    background-color:#f7dc6f;
    border:none;
    margin-left:5px;
    font-family: 'Happy Monkey', cursive;
}

ul{
    list-style-type:none;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:0px;
}

ul li{
    background-color:#fcf3cf;
    border: 3px solid #f7dc6f;
    border-radius:10px;
    text-align:center;
    padding:15px;
    max-width:500px;
}

ul li:hover{
    background-color:#e74c3c;
    color:white;
}
#main{
    min-height:500px;
}
p{
    line-height:2px;

